.shiny-table {
    background-color: #ecf0f1;
    margin-left:auto; 
    margin-right:auto;
    border: 1px solid #cccccc;
}

hr {
  border-top: 1px solid #000000;
  
}

.help-block {
  font-size: .75em;
  color: gray;
}

.form-group {
  margin-bottom: 0;
}

h4 {
  font-weight: 700;
}

h5 {
  font-weight: 700;
  font-size: 1.1em;
}

.control-label {
  color: gray;
  font-weight: 500;
}

.btn:hover {
  background-color: #20c997;
}

.filter-option-inner-inner {
  color: black;
}

#header-right {
  position: fixed;
  top: 5px;
  right:14px;
  z-index: 9999;
}

#help {
    display:inline;
}

#further-help {
    display: inline;
}

#help button, #further-help button {
  padding: 3px 10px;
  background-color: #18bc9c;
  border-color: #0f7864;
  color: white;
  border-radius: 4px;
  border-width: 2px;
}

.navbar-brand:hover {
  color: white;
}

#logo-isomemo, #logo-mpi {
    display: inline;
    width: 150px;
    height: 130px;
    margin-right: 10px;
}

#logo-isomemo img {
    height: 50px;
    width: 75px;
    border-radius: 2px;
}

#logo-mpi img {
    height: 50px;
    width: 57px;
    border-radius: 2px;
}

.matrix-input {
    overflow-x: auto;
}

.matrix-input-table {
    table-layout: fixed;
    width: auto;
}

.matrix-input-table td {
    min-width: 100px;
}
